<section class="load-more" data-section="collection-load-more">
  <button class="load-more__btn" id="load-more-btn" type="button">
    <span class="load-more__text">LOAD MORE</span>
    <span class="load-more__spinner"></span>
  </button>
</section>

{% schema %}
{
  "name": "Load More",
  "settings": [],
  "presets": [{ "name": "Load More" }]
}
{% endschema %}
